

body
{
    font-family:'Raleway', sans-serif ;
    color: #181818;
    margin: 0px 8px 8px 8px;
}

body em
{
    font-weight: bold;
}

body h3
{
    margin: 0;
}

main
{
    width: 95%;
    margin: auto;
}



/* Header*/

header
{
    display: flex;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 20px;
}

#titre_principal h1
{
    font-size: 0.5em;
}

#slogan
{
    width: 100%;
}

#slogan h2
{
    margin: 0;
}

#slogan p
{
    align-self: flex-start;
    font-weight: normal;
    margin: 0;
    margin-top: 10px;
}




/* Navigation */

#logo
{
    padding-top: 35px;
    height: auto;
}

#logo img
{
    height: 60px;
}

#link_hebergements
{
    display: flex;
    align-items: center;
    grid-column: 3;
    justify-content: center;

    text-decoration: none;
    color: #494949;
    font-weight: bold;
    padding-top: 47px;
}

#link_activites
{
    display: flex;
    align-items: center;
    grid-column: 4;
    justify-content: center;

    text-decoration: none;
    color: #494949;
    font-weight: bold;
    padding-top: 47px;

}



#link_hebergements:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

#link_activites:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    font-weight: bold;
}

nav
{
    width: 100%;
    display: grid;
    grid-template-columns: 12% 1fr 13% 11% 9.5%;
    grid-template-rows: 55px;

}



header p a
{
    text-decoration: none;
    color: #0065FC;
}

header p
{
    grid-column: 5;
    font-weight: bold;
    justify-self: center;
}


#inscription
{
    display: flex;
    align-items: center;
    grid-column: 5;
    justify-content: center;
    padding-top: 35px;
}

/* Recherche */

#recherche
{
    margin-top: 3px;
}

#barre_de_recherche
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 390px;

}

#bouton_recherche
{
    color: white;
    padding: 12px;
    background-color: #0065FC;

    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
}



#icone_recherche
{
    display: none;
}

#bouton_recherche a
{
    color: white;
    text-decoration: none;
}

#logo_recherche
{
    align-items: center;
    padding: 12px;
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    justify-content: center;
    width: 70px;
}

input
{
    border: 0px;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
    margin-left: 15px;

}



form
{

    display: flex;
    align-items: center;
    height: 43px;
    border: 1px solid #F2F2F2; 
}

form p
{
    width: 100%;
}




/* Filtres */

#filtres
{
    display: flex;
    margin-top: 25px;

    flex-wrap: wrap;
    height: auto;
    align-items: center;
}

#filtres h3
{
    margin-right: 15px;
    margin: 0px 15px 10px 0px;
}

#boutons_filtres
{

    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

button
{
    background-color: white;
    border: none;
    padding-bottom: 15px;
}

button i
{
    font-size: 1.2em;
    color: #0065FC;
}

button p
{
    margin-left: 10px;
    font-weight: bold;
    color: #181818;
    font-size: 1.2em;
    align-self: center;
}

button a
{
    display: flex;
    text-decoration: none;
    border: 2px solid #e2e2e2;
    border-radius: 50px;
    padding-right: 15px;
    height: 43px;
}

button a:hover
{
    background-color: #DEEBFF;
}

.icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50px;
    width: 50px;

}

#animaux
{
    width: 238px;
}

/* Info */

#info
{
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: 30px 0px 30px 0px;
}

#logo_info
{
    align-self: center;
    font-size: 0.8em;
    color:#0065FC;
    border: 1px solid #cacaca;
    border-radius: 20px 20px 20px 20px;
    padding: 3px 8px 3px 8px ;
}

/* Section */

section
{
    display: flex;
    justify-content: space-between;
}

.stars 
{
    display: flex;
}

.blue_stars i
{
    color: #0065FC;
}

.dark_stars i
{
    color: #cccccc;
}


/* Article */


article
{
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    padding: 25px;
    height: auto;
    width: 65%
}

.panneau_article
{

    width: 300px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #bbbbbb;
    height: 28%;
    display: flex;
}

.description_article
{
    margin: 15px;
    line-height: 0.6em;
}

#panneau_article_img_1
{
    background: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

#panneau_article_img_2
{
    background: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

#panneau_article_img_3
{
    background: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

#panneau_article_img_4
{
    background: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

#panneau_article_img_5
{
    background: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

#panneau_article_img_6
{
    background: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 125px;
    border-radius: 25px 25px 0px 0px;
    margin: 5px;
}

article a
{
    text-decoration: none;
}
article p
{
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}

#panneaux_hebergements
{
    display: flex;
    flex-wrap: wrap;

}

#panneaux_hebergements p
{
    font-weight: normal;
}

#panneaux_hebergements a
{
    text-decoration: none;
    color: #181818;
    width: 100%;
    height: 100%;
}



#panneaux_hebergements figcaption
{
    line-height: 0.7em;
}

#panneaux_hebergements figure
{
    display: flex;
    flex-flow: column;
}


/* Aside */

aside
{
    width: 22%;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    padding: 25px;
    height: 650px;
}


#titre_aside
{
    display: flex;
    justify-content: space-between;
}

#logo_populaires
{
    align-self: center;
    font-size: 1.2em;
}

#populaires
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.panneau_aside
{
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    margin-top: 25px;
    box-shadow: 0px 0px 10px #bbbbbb;
    display: flex;

}

aside a
{
    text-decoration: none;
    color: #181818;
    display: flex;
}

#panneau_aside_img_1
{
    background: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 145px;
    height: 94%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
}

#panneau_aside_img_2
{
    background: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 208px;
    height: 93%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
}

#panneau_aside_img_3
{
    background: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    width: 154px;
    height: 94%;
    border-radius: 20px 0px 0px 20px;
    margin: 5px;
}

.description_aside
{
    padding: 15px;

}


#titre_aside i
{
    font-size: 1.3em;
}


/* Section Activités */


#activites
{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#panneaux_activites
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

#panneau_activite_1
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin-bottom: 35px;
    margin: 0px 13px 20px 13px;
}

#panneau_activite_2
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin: 0px 13px 20px 13px;
}

#panneau_activite_3
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin: 0px 13px 20px 13px;
}


#panneau_activite_4
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin: 0px 13px 20px 13px;
}

#panneau_activite_5
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin: 0px 13px 20px 13px;
}

#panneau_activite_6
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    margin: 0px 13px 20px 13px;
}

#panneau_activite_img_1
{
    background: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

#panneau_activite_img_2
{
    background: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 220px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

#panneau_activite_img_3
{
    background: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

#panneau_activite_img_4
{
    background: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

#panneau_activite_img_5
{
    background: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 185px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

#panneau_activite_img_6
{
    background: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 185px;
    width: 320px;
    border-radius: 25px 25px 0px 0px;
}

.petits_panneaux
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
}

#activites a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#activites figure
{
    box-shadow: 0px 0px 10px #bbbbbb;
    border-radius: 25px 25px 25px 25px;
    width: 330px;
}

#activites figcaption
{
    padding-bottom: 10px;
    padding-left: 10px;
}

.box_activite
{
    display: flex;
}


.colone_petits_panneaux
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#pomegues img
{
    height: 250px;
}

#garde img
{
    height: 170px;
}

#longchamp img
{
    height: 220px;
}

/* Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px 250px 50px 50px;
}

footer a
{
    text-decoration: none;
    list-style-type: none;
    color: black;
}


footer h3
{
    margin-bottom: 25px;
}


@media screen and (max-width: 1500px)
{
    article
    {
        width: 55%;
    }

    aside
    {
        width: 32%;
    }

    .panneau_aside
    {
        height: 100%;
    }
}



@media screen and (max-width: 1200px)
{
    .panneau_article
    {
        width: 70%;
    }

    article
    {
        width: 50%;
    }

    aside
    {
        width: 37%;
    }
}

@media screen and (max-width: 990px)
{
    footer
    {
        flex-direction: column;
        justify-content: center;
        padding: 50px 0px 50px 50px;
    }

    #a_propos
    {
        margin-bottom: 20px;
    }

    #nos_hebergements
    {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 910px)
{
    section
    {
        flex-direction: column-reverse;
    }

    aside
    {
        margin-bottom: 25px;
        width: auto;
        height: auto;
    }

    article
    {
        width: auto;
    }

    .panneau_aside
    {
        height: 200px;
    }
    
    #panneau_aside_img_1
    {
        width: 220px;
    }

    #panneau_aside_img_2
    {
        width: 220px;
    }

    #panneau_aside_img_3
    {
        width: 220px;
    }

    nav
    {
        grid-template-columns: 50% 50%;
        grid-template-rows: 90px 90px;
    }

    #logo
    {
        grid-column: 1;
        grid-row: 1;
    }

    #inscription
    {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.4em;
    }

    #link_hebergements
    {
        grid-column: 1;
        grid-row: 2;

        border-bottom: solid 4px #F2F2F2;
        padding-bottom: 10px;
        font-size: 1.4em;
        width: 100%;

        padding-bottom: 30px;
        padding-top: 43px;
    }

    #link_activites
    {
        grid-column: 2;
        grid-row: 2;

        border-bottom: solid 4px #F2F2F2;
        padding-bottom: 10px;
        font-size: 1.4em;
        width: 100%;

        padding-bottom: 30px;
        padding-top: 43px;
    }



    #link_hebergements:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 4px solid #0065FC;
        font-weight: bold;
    }

    #link_activites:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 4px solid #0065FC;
        font-weight: bold;
    }



    #logo
    {
        align-self: center;
    }

    #logo img
    {
        height: 70px;
        justify-self: center;
        align-self: center;
    }

    article
    {
        background-color: white;
        border: none;
    }
    
    aside
    {
        border-radius: 0px;
    }

    main
    {
        margin: 0px;
        width: auto;
    }


    #panneaux_activites
    {
        justify-content: space-around;
    }

    #icone_recherche 
    {
        display: block;
        color: white;
        padding: 20px;
        background-color: #0065FC;
    
        border: 1px solid #0065FC;
        border-radius: 20px 20px 20px 20px;
        position: absolute;
        right: 6%;

    }

    #icone_recherche i
    {
        justify-self: center;
        font-size: 1.3em;
    }
    

    #bouton_recherche
    {
        display: none;
    }

    #barre_de_recherche
    {
        width: 100%;
        height: 60px;
    }

    #logo_recherche
    {
        width: 50px;
        height: 60px;
        justify-content: center;
        padding: 0px;

    }

    form
    {
        width: 70%;
        height: 60px;
    }

    form p
    {
        width: 93%;
    }

    input
    {
        height: 50px;
        width: 100%;
    }

    #logo_recherche i
    {
        font-size: 1.3em;
        padding: 20px 0px 0px 18px;
    }





}

@media screen and (max-width: 724px)
{
    #panneau_activite_img_1
    {
        height: 130px;
    }

    #panneau_activite_img_2
    {
        height: 130px;
    }

    #panneau_activite_img_3
    {
        height: 130px;
    }

    #panneau_activite_img_4
    {
        height: 130px;
    }

    #panneau_activite_img_5
    {
        height: 130px;
    }

    #panneau_activite_img_6
    {
        height: 130px;
    }
}

@media screen and (max-width: 420px)
{
    .panneau_article
    {
        width: 100%;
        margin: 0px 0px 30px 0px;
    }

    article
    {
        padding: 10px;
    }
}

